[tool.pytest.ini_options]
testpaths = ["tests"]

markers = ["qgis: marks tests that require a QGIS environment"]

[tool.coverage.run]
source = ["modules"]
omit = ["tests/*"]

[tool.ruff]
line-length = 88

[tool.ruff.lint.per-file-ignores]
"tests/*" = [
    "S101",  # Allow `assert` statements in tests
    "D",     # Disable all pydocstyle rules for tests
    "SLF001",# Allow access to private members in tests
]

[tool.mypy]

[[tool.mypy.overrides]]
module = "defusedxml"
ignore_missing_imports = true

[tool.pyright]
reportAttributeAccessIssue = "none"
reportMissingImports = "warning"
reportMissingModuleSource = "none"
reportGeneralTypeIssues = "none"
reportPrivateImportUsage = "none"
extraPaths = [
    "C:\\OSGeo4W\\apps\\qgis-ltr\\python",
    "C:\\OSGeo4W\\apps\\qgis-ltr\\python\\plugins",
    "C:\\OSGeo4W\\apps\\Python312\\Lib\\site-packages",
]

[tool.pylint.main]
extension-pkg-allow-list = [
    "qgis",
    "qgis.core",
    "qgis.gui",
    "osgeo",
    "PyQt5",
    "PyQt5.QtCore",
    "PyQt5.QtGui",
    "PyQt5.QtWidgets",
    "PyQt6",
    "PyQt6.QtCore",
    "PyQt6.QtGui",
    "PyQt6.QtWidgets",
    "qgis.PyQt.QtCore",
    "qgis.PyQt.QtWidgets"
]
init-hook = """
import sys
import os
from pathlib import Path
qgis_path = Path("C:/OSGeo4W/apps/qgis-ltr")
python_path = Path("C:/OSGeo4W/apps/Python312")
sys.path.append(str(qgis_path))
sys.path.append(str(qgis_path / "python"))
sys.path.append(str(qgis_path / "python" / "plugins"))
sys.path.append(str(python_path / "Lib" / "site-packages"))
os.environ["PATH"] += f";{str(qgis_path / 'bin')};C:/OSGeo4W/bin"
"""
unsafe-load-any-extension = true

[tool.pylint."messages control"]
disable = [
    "raw-checker-failed",
    "bad-inline-option",
    "locally-disabled",
    "file-ignored",
    "suppressed-message",
    "useless-suppression",
    "deprecated-pragma",
    "use-symbolic-message-instead",
    "use-implicit-booleaness-not-comparison-to-string",
    "use-implicit-booleaness-not-comparison-to-zero",
    "line-too-long",
    "missing-module-docstring",
    "import-error",
    "non-ascii-file-name",
    "wrong-import-order",
    "trailing-whitespace",
    "missing-function-docstring",
    "unspecified-encoding",
    "too-many-arguments",
    "too-many-instance-attributes",
    "no-member",
    "fixme",
    "C0103",
    "W0105",
]
